h1 {
    color: white;
    font-size: 70px;
}

.myTrip {
    color: white;
    font-size: 50px;
    position: absolute;
    left: 30%;
    top: 20%;
}

.addNewTrip {
    border: none;
    color: blue;
    padding: 15px 32px;
    font-size: 30px;
    background-color: white;
    position: absolute;
    left: 51%;
    top: 20%;
    text-decoration: none;
}
